---
import IcoAstro from "./icons/icoastro.astro";
import IcoTailwind from "./icons/icotailwind.astro";
import IcoAcro from "./icons/icoacro.astro";
import IcoGo from "./icons/icogo.astro";
import IcoLaravel from "./icons/icolaravel.astro";
import IcoUniapp from "./icons/icouniapp.astro";

---
<div class="w-full flex flex-col items-center gap-4 pb-4">
    <div class="flex flex-col items-center gap-4 max-w-6xl p-4">
        <h1 class="text-xl font-bold text-left text-white">技术栈</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="flex flex-col items-start justify-center bg-gray-800 bg-opacity-80 rounded-lg p-2 align-middle">
                <a class="acro-logo" href="https://www.arco.design/" target="_blank"><IcoAcro /></a>
            </div>
            <div class="flex flex-col items-start justify-center bg-gray-800 bg-opacity-80 rounded-lg p-2 align-middle">
                <a class="astro-logo" href="https://astro.build/" target="_blank"><IcoAstro /></a>
            </div>
            <div class="flex flex-col items-start justify-center bg-gray-800 bg-opacity-80 rounded-lg p-2 align-middle">
               <a class="tailwind-logo" href="https://www.tailwindcss.cn/" target="_blank"><IcoTailwind /></a>
            </div>
            <div class="flex flex-col items-start justify-center bg-gray-800 bg-opacity-80 rounded-lg p-2 align-middle">
               <a class="laravel-logo" href="https://uniapp.dcloud.net.cn/" target="_blank"><IcoUniapp /></a>
            </div>
            <div class="flex flex-col items-start justify-center bg-gray-800 bg-opacity-80 rounded-lg p-2 align-middle">
               <a class="laravel-logo" href="https://laravel-docs.catchadmin.com/" target="_blank"><IcoLaravel /></a>
            </div>
            <div class="flex flex-col items-start justify-center bg-gray-800 bg-opacity-80 rounded-lg p-2 align-middle">
               <a class="go-logo" href="http://www.topgoer.com/" target="_blank"><IcoGo /></a>
            </div>
        </div>
    </div>
</div>