---
import IcoGo from '../../assets/go128.png'
---
<div class="flex flex-row items-start justify-start">
    <figure class="w-8 h-8 overflow-hidden">
        <img class="object-cover object-center" src={IcoGo.src} alt="This is me!">
    </figure>
    <span class="text-base pl-2">
        Golang
    </span>   
</div>
